*{
    margin: 0;
    padding: 0;

}
img {
    transform: translateY(-5px);
    border-radius: 20px;
    height: 300px;
    width: 300px; 
    justify-content: space-between;
    box-shadow: 0 0 10px;
}

video {
    transform: translateY(-5px);
    border-radius: 20px;
    height: 300px;
    width: 300px; 
    justify-content: space-between; 
    box-shadow: 0 0 10px;
}

body {
    background-color: rgb(197, 253, 255);
}


